/*
 ** This file contains colors that are not defined in the kkb_styleguide nor ddbasic-theme.
 */

$footer-color-text:#cfcfc9;
$availability-link-all:#5aa47f;

$color-mint-green-shadow: #004d3b;
$color-mint-green-hover: #00a982;
$color-button-grey: #b1b1ad;
$color-hover-grey: #a7a7a3;
$color-shadow: #656560;
$color-shadow-alternative: #8c8c86;
$color-grey-dark: #444444;

$color-red-dark: #ff5e61;
$color-red-shadow: #d80005;
$comment-list-color:#f7f7f1;
