.field-name-comment-body {
  .filter-wrapper {
    @extend .form-group;
    padding: 1.5em;
  }
}
.comment-wrapper {
  .comment-content {
    .comment {
      background-color: $comment-list-color;
    }
  }
}
