@charset "UTF-8";
.eresource-list {
  padding-left: 0;
  & > li {
    @include content-box;
    @include clearfix;
    position: relative;
    .views-field-title a{
      @include heading2;
    }
    .eresource-image-wrapper {
      width: 150px;
      float: left;
      @include small-medium {
        display: none;
      }
    }

    .views-field-title,
    p {
     margin-left: 170px;
     @include small-medium {
       margin-left: 0;
     }
   }
  }
}
#views-exposed-form-ding-eresource-ding-eresource-list select {
  @extend .select;
}

ul.eresource-index {
  padding-left: 0;
  li {
    display: inline-block;
    padding-right: 10px;

  }
}
.pane-ding-eresource-categories{
  @extend .vertical-list;
  ul.sub-menu {
    @extend .vertical-list-nav;
    li {
      &:before {
        content: '';
      }
    }
  }
}


/**
 * Single view of a resource.
 **/

.node-type-ding-eresource {
  .field {
    margin-bottom: 24px;
  }

  // Category
  .field-ding-eresource-category a {
    @include btn;
  }
  .field-name-field-ding-eresource-list-image {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .field-name-field-ding-eresource-lead {
    font-weight: bold;
  }
  // Links.
  .field-type-link-field a {
    margin-left: 0;
  }
  // Unset clearfix.
  .field-name-field-ding-eresource-link {
    display: block;
    &:after {
      display: none;
      clear: none !important;
      content : '' !important;
    }
    .field-item {
      margin-right: 20px;
    }

  }
  .field-ding-eresource-access a {
    background-color: transparent;
    color: $color-green;
    text-shadow: none;
    font-size: 16px;

  }
  .field-ding-eresource-tags {
    strong {
      display: none;
    }
    a {
      @include tag;
    }
  }
}
