@charset "UTF-8";
.event .event-content {
  @include small-medium{
    padding-top: 10px;
  }
}

.view-ding-event {
  .view-content {

    .event-list-leaf {
      @extend .color-dark-sand;
      .event-list-fulldate {
        @include heading2;
        margin: 17px 0 0 0;
      }
      .event-list-day {
        @extend .color-red-bright;
      }
    }

    & > .list > .event-list-item {
      @include content-box;

      .event-list-heading a {
        @include heading2;
      }
      .event-list-location {
        @extend .meta-location;
        @extend .fa;
        &:before {
          content: "\f041";
          margin-right: 10px;
        }
        display: block;
      }
      .event-list-time {
        @extend .fa;
        &:before {
          content: "\f073";
          margin-right: 5px;
        }
        @extend .meta-secondary;

      }
      .event-list-price {
        @extend .meta-secondary;
        @extend .meta-strong;
      }


      .event-arrow-link {
        position: static;
        float: right;
        a{
          @include btn;
          // // @extend .btn-right;

          i {
            width: auto;
            &:before {
              content : 'L\00e6s mere';
              font-weight: bold;
            }
          }
        }
        @include small-medium{
          display: block;
          margin-top: 10px;
          float: none;
          a{
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }
}
.pane-ding-event-ding-event-list .event-list-item {
  // Repositioning the elements. Imaages were floating, but lead to wrapping
  // underneath the image.
  .event-image-wrapper {
    float: none;
    position: absolute;
    @include small-medium {
      display: none;
    }
  }
  h3.event-list-heading,
  .event-list-description,
  .event-list-location,
  .event-list-time {
    margin-left: 170px !important;
    @include small-medium {
      margin-left: 0 !important;
    }
  }
}

.event-tags {
  .event-category a {
    @include btn;
  }
}

.field-name-ting-subjects,
.event-tags .event-tags {
  margin-bottom: 0;
  @extend .tags;
  display: block;
  .subject,
  a {
    @extend .tag;
    display: inline-block;
    color: white;
    background-color: $color-button-grey;
    @include text-shadow(none);
    @include box-shadow(0 1px 2px $color-shadow);
    &:active {
      @include box-shadow(inset 1px 1px 4px $color-shadow-alternative);
      line-height: 21px;
    }
    &:link:visited {
      color: white;
    }
    &:link:hover {
      color: white;
      background-color: $color-hover-grey;
    }
  }
}
