.node-ding-faq-question {
  .field-name-field-ding-faq-title-image {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .field-ding-faq-tags {
    display: block;
    a {
      @include tag;
      background-color: $color-grey;
      @include text-shadow(none);
      @include box-shadow(0 1px 2px $color-shadow);
      &:active {
        @include box-shadow(inset 1px 1px 4px $color-shadow-alternative);
        line-height: 21px;
      }
      &:hover {
        background-color: $color-hover-grey;
      }
    }
  }
  .field-name-field-ding-faq-category a {
    @include btn;
  }
  .field-name-field-ding-faq-lead {
    font-weight: bold;
  }
}
