.node-ding-faq-question {
  .field-name-field-ding-faq-title-image {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .field-ding-faq-tags
  a {
    @include tag;
  }
  .field-name-field-ding-faq-category a {
    @include btn;
  }
  .field-name-field-ding-faq-lead {
    font-weight: bold;
  }
}
