.groups-list {
  //@extend .content-list;
  .groups-list-item {
    @include content-box;
    background-color: lighten($color-sand, 3) !important;
  }
  .groups-heading {
    @include heading2;
    a {
      @include heading2;
    }
  }

  .groups-arrow-link {
    @extend .event-arrow-link;

    top: auto;
    bottom:12px;
    a{
      @include btn;
      // // @extend .btn-right;

      i {
        width: auto;
        &:before {
          content : 'Læs mere';
          font-weight: bold;
        }
      }
    }
  }
}

.group-blocks--inner {
  margin:-20px;
}
.group-blocks--first,
.group-blocks--second,
.group-blocks--third,
.group-blocks--fourth {
  .inner-div {
    @include content-box;

  }
  .group-link a {
    @include btn;
  }
}

.group-blocks--inner .group-blocks--first {
  padding-left: 10px;
}

.group-blocks--inner .group-blocks--fourth {
  padding-right: 10px;
}

.field-name-field-related-links .field-collection-view {
  padding: 0;
  margin: 0;
  border: none;
}
