.groups-list {
  @extend .content-list;
  .groups-list-item {
    @include content-box;
    background-color: lighten($color-sand, 3) !important;
  }
  .groups-heading {
    @include heading2;
    a {
      @include heading2;
    }
  }

  .groups-arrow-link {
    @extend .event-arrow-link;

    top: auto;
    bottom:12px;
    a{
      @include btn;
      // // @extend .btn-right;

      i {
        width: auto;
        &:before {
          content : 'Læs mere';
          font-weight: bold;
        }
      }
    }
  }

}

