@import "mixins";

html {
  body {
    // Inherit background color among others.
    @extend body;
    .topbar-inner {
      padding-top: 70px;
    }
    .site-header {

      // Resetting logo and site-name.
      // @todo this could be cleaned up in ddbasic.
      .site-name-wrapper {
        display: none;
      }
      .logo {
        float:none;
        width: auto;
        margin: 0;
        img {
          width: auto;
          height: auto;
        }
      }

      .topbar {
        // Reset the menus in the header and inherit from styleguide.
        // All things in header is positioned except from the menus,
        // which should be aligned right.
        text-align: right;
        background: transparent;
      }
      // Resetting the background and other parts of the carousel since it was
      // moved from the content container to the top.
      .rs-carousel .rs-carousel-inner {
        background-color: transparent;
      }
      ul.main-menu,
      ul.topbar-menu {
        width: auto;
        display: block;
        float: right;
        margin: 0;
        @extend .nav.navbar-nav;
        a {
          margin: 0;
          padding: 10px;
          margin-left: 30px !important;
        }
      }
      // Hide second level from the main menu.
      ul.main-menu {
        ul {
          display: none;
        }
      }
      // DDBasic does a lot of funky stuff with custom fonts, shades and sizes.
      ul.topbar-menu {
        a {
          font-family: $proxima-nova-font-name;
          text-shadow: none;
          font-size: 100%;
          border-bottom: 5px solid transparent;
          &.active {
            // The color was set to 50% in the styleguide, but overridden
            // somehow.
            background-color: rgba(0, 0, 0, .2);
          }

        }
      }
      // This is the block that contains the search and the login bar.
      .header-wrapper {
        @extend .search-bar;
        // The color was set to 50% in the styleguide, but overridden somehow.

        // Somehow the height is set here. Should be set by size of content
        // instead.
        height: auto;
        background-color: rgba(0, 0, 0, .2);
        form input[type='text']{
          font-family: $proxima-nova-font-name;
          font-size: 100%;
        }

        // Search pane specific resets.
        .search {
          padding:0;
          label {
            display: none;
          }
          form input[type='text']{
            margin-left: 120px;
          }
          .form-submit {
            // The form submit button is not visible in styleguide.
            height: 0;
            width: 0;
            font-size: 0;
            margin: 0;
            background: transparent;
            border: 0 none;
            @include box-shadow(none);

          }
        }
        // Login pane specific resets.
        .user {
          padding: 0;
        }
        #user-login-form {

          @extend .login;
          label {
            @extend .meta-form;
            font-weight: normal;
            font-family: $proxima-nova-font-name;
          }
          input {
            font-family: $proxima-nova-font-name;
            border-radius:$border-radius;
            @extend input;
            @include placeholder {
              color: #d8dcda;
              //color: $placeholdercolor;
              font-family: $proxima-nova-font-name;
            }
            min-height: 0;
            &.form-submit {
               @include btn;
               @include btn-secondary;
              margin-top: 0;
              min-width: 0;
              margin-right: 28px;
            }
          }
        }
      }
    }
  }
}


// Theming top promotion.

html body .site-header .topbar.has-promotion {
  background-position: top center;
  background-repeat: no-repeat;
  .promotion {
    margin-top: 40px;
    height: 290px;
    @include small-medium{
      display: none;
    }
    ul {
      padding: 0;
      text-align: left;
      li {
        display: inline-block;
        margin-right: 30px;
      }
    }
  }
}




// Theming for the site footer.
html body footer.footer {
  h2 {
    @extend h3;
  }
  // In order to strengthen the selector for vertical-list since it was vague
  // and easily overriden by DDBasic.
  .panel-pane {
    @extend .vertical-list;
    ul {
      @extend .vertical-list-nav;
    }
    .pane-title {
      border-bottom: none;
      &:before {
        display: none;
      }
    }
    li {
      &:before {
        display: none;
      }
      a {
        color: $color-grey-light !important;
      }
    }
  }
}


// Theming of content area.

.default-layout .layout-wrapper,
.layout-wrapper {
  background-color: transparent;
}



/**
 * Header color handling.
 **/
body{
  &.theme-red .site-header {
    background-color: $color-red;
  }
  &.theme-purple .site-header {
    background-color: $color-purple;
  }
  &.theme-blue .site-header {
    background-color: $color-blue;
  }
  &.theme-yellow .site-header {
    background-color: $color-yellow;
  }
  &.theme-green .site-header {
    background-color: $color-green;
  }
  &.theme-pink .site-header {
    background-color: $color-pink;
  }
}


