@import "mixins";

html {
  body {
    // Inherit background color among others.
    @extend body;
    .topbar-inner {
      padding-top: 70px;
    }
    .site-header {

      // Resetting logo and site-name.
      // @todo this could be cleaned up in ddbasic.
      .site-name-wrapper {
        display: none;
      }
      .logo {
        float:none;
        width: auto;
        margin: 0;
        // Prevent menu from colliding with the logo on screen sizes less than x-large.
        top: 10px;
        img {
          width: auto;
          height: auto;
        }
        // Align logo with menu on x-large screen sizes.
        @include x-large() {
          top: 40px;
        }
      }
      .topbar {
        // Reset the menus in the header and inherit from styleguide.
        // All things in header is positioned except from the menus,
        // which should be aligned right.
        text-align: right;
        background: transparent;
      }
      // Resetting the background and other parts of the carousel since it was
      // moved from the content container to the top.
      .rs-carousel .rs-carousel-inner {
        background-color: transparent;
      }
      ul.main-menu,
      ul.topbar-menu {
        width: auto;
        float: right;
        margin: 0;
        @extend .nav.navbar-nav;
        a {
          margin: 0;
          padding: 10px;
          margin-left: 30px !important;
        }
      }
      // Hide second level from the main menu.
      ul.main-menu {
        ul {
          display: none;
        }
      }
      // DDBasic does a lot of funky stuff with custom fonts, shades and sizes.
      ul.topbar-menu {
        a {
          font-family: $proxima-nova-font-name;
          text-shadow: none;
          font-size: 100%;
          border-bottom: 5px solid transparent;
          &.active {
            // The color was set to 50% in the styleguide, but overridden
            // somehow.
            border-bottom: 5px solid white;
            background: transparent;
          }
        }
        .topbar-link-search a,
        .topbar-link-user a {
          @include border-radius(4px 4px 0 0);
        }
      }
      // This is the block that contains the search and the login bar.
      .header-wrapper {
        @extend .search-bar;
        // The color was set to 50% in the styleguide, but overridden somehow.

        // Somehow the height is set here. Should be set by size of content
        // instead.
        height: auto;
        //background-color: rgba(0, 0, 0, .2);
        form input[type='text']{
          font-family: $proxima-nova-font-name;
          font-size: 100%;
        }

        // Search pane specific resets.
        .search {
          padding:0;
          label {
            display: none;
          }
          form input[type='text']{
            box-sizing: border-box;
            padding-left: 120px;
            height: 72px;
          }
          .icon-search {
            bottom: 20px;
          }
          .form-submit {
            // The form submit button is not visible in styleguide, but we want it anyway.
            // override default-btn
            // colors differ dependent on color-theme, see color-theming for that
            @include btn;
            background: transparent;
            margin-top: 19px;
            margin-right: 12px;
            padding: 5px 16px;
            min-width: inherit;
            min-height: inherit;
            font-size: 16px;
            border-radius: 4px;

          }

          @include small-medium() {
            form input[type='text']{
              padding-left: 80px;
              padding-right: 10px;
            }

            .form-actions {
              clear: none;
              position: absolute;
            }

            .form-item {
              width: 80%;
            }
          }
        }

        // Login pane specific resets.
        .user {
          padding: 0;
        }
        #user-login-form {

          @extend .login;
          label {
            @extend .meta-form;
            font-weight: normal;
            font-family: $proxima-nova-font-name;
          }
          i {
            // Remove icons for input fields.
            display: none;
          }
          input {
            font-family: $proxima-nova-font-name;
            border-radius:$border-radius;
            @extend input;
            @include placeholder {
              color: #d8dcda;
              //color: $placeholdercolor;
              font-family: $proxima-nova-font-name;
            }
            min-height: 0;
            &.form-submit {
               @include btn;
               @include btn-secondary;
              margin-top: 0;
              min-width: 0;
              margin-right: 28px;
            }
          }
        }
      }

      @include small-medium() {
        .topbar {
          // There is no need to include the promotion background image on
          // on mobile devices. It is set using a style attribute so nuke
          // it with important.
          background-image: none !important;
        }

        // Restyle the header on small screens.
        // To simplify things all sizing and positioning is removed from
        // outer elements and reapplied to the logo link to make it a nice
        // clickable target.
        .topbar-inner {
          padding-top: 0;

        }

        .logo {
          // Reposition logo to the center of screen on mobile devices.
          position: static;

          a {
            display: block;
            width: 100%;
            padding: 40px 0;
            text-align: center;
          }
        }

        // Restyle the menu for mobile usage. There are lots of overrides
        // from DDBasic and style guide here.
        // The menu differs quite a bit from DDBasic and the style guide
        // has a different structure from the actual implementation.
        ul.topbar-menu {
          // The menu appears in full width.
          float: none;

          a.menu-item {
            // Menu item visibility and spacing is switched between inner spans
            // and outer links.
            display: none;
            margin-left: 0 !important;
            padding: 0;
            border-bottom: 0 none;

            span {
              display: block;
              padding: 10px;
            }

            &.default-override {
              // The menu item to toggle the menu should always be visible.
              display: block;

              span {
                // Remove the text.
                text-indent: -9999px;

                // Add a menu icon
                &::after {
                  display: block;
                  width: 24px;
                  height: 24px;
                  float: right;
                  border: 1px solid white;
                  @include border-radius(4px);
                  text-align: center;
                  text-indent: 0;

                  content: $fa-var-bars;
                  font-family: FontAwesome;
                  // These attributes are the same as the ones FontAwesome
                  // would normally apply to HTML elements with the
                  // .fa .fa-bars classes.
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                  transform: translate(0, 0);
                }
              }
            }
          }

          // The search menu item should never be visible.
          .topbar-link-search {
            display: none;
          }

          // Reimplement hover states. Menu items should appear on a white
          // background on hover. The styleguide and structure of the top menu
          // differs here so we have to reimplement the styling on the menu
          // links instead of the list items.
          li {
            &:hover {
              background-color: transparent;
            }

            a:hover {
              color: $color-black;
              background-color: white;
            }

            // The menu item to toggle the menu has a white bottom border when
            // opened. We expect it to be the first menu item.
            a.default-override.active,
            a.default-override.active:hover {
              background-color: transparent;
              border-bottom: 1px solid white;
            }

            // The menu item to toggle the menu should not change text nor
            // background color hover. Instead we shade the menu icon
            // background.
            a.default-override:hover {
              background-color: transparent;

              span::after {
                color: white;
                background-color: rgba(255, 255, 255, 0.5);
              }
            }
          }

        }

        // Style the mobile user menu. Structure here is a bit different
        // than navigational menu and we also need to override different
        // parts of DDBasic sp we cannot use existing styling.
        .navigation-wrapper {
          border-top: 1px solid #fff;
          padding: 0;

          .sub-menu {
            li {
              border-bottom: 0 none;

              &:before {
                content: none;
              }
            }

            .menu-item {
              display: block;
              box-sizing: border-box;
              width: 100%;
              padding: 10px;
              margin: 0;

              &:hover {
                font-family: $proxima-nova-font-name;
                color: $color-black;
                background-color: #fff;
              }
            }
          }
        }
      }// end of media-query small-medium


    }
  }
}


// Theming top promotion.

html body .site-header .topbar.has-promotion {
  background-position: top center;
  background-repeat: no-repeat;
  .promotion {
    margin-top: 40px;
    height: 290px;
    @include small-medium {
      display: none;
    }
    ul {
      padding: 0;
      text-align: left;
      li {
        display: inline-block;
        margin-right: 30px;
      }
    }
  }
}




// Theming for the site footer.
html body footer.footer {
  margin-top: 48px;
  padding-top: 48px;
  padding-bottom: 60px;

  h2 {
    @extend h3;
  }

  // In order to strengthen the selector for vertical-list since it was vague
  // and easily overridden by DDBasic.
  .panel-pane {
    @extend .vertical-list;
    ul {
      @extend .vertical-list-nav;
    }
    .pane-title {
      border-bottom: none;
      // We do not have a variable for white so plain colors here.
      color: white;
      &:before {
        display: none;
      }
    }
    li {
      &:before {
        display: none;
      }
      a {
        color: $footer-color-text !important;
      }
      a:hover {
        // Important for the link color so important for the hover as well.
        color: $color-mint-green !important;
      }
    }
  }
}

// Theming for bottom area of site (where address is displayed).
// Give it the same color as in footer.
html body div.bottom .pane-content p {
  color: $footer-color-text;
}


// Theming of content area.

.default-layout .layout-wrapper,
.layout-wrapper,
.frontpage-layout .layout-wrapper {
  background-color: transparent;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}



/**
 * Header color handling.
 **/

body {
  &.theme-red .site-header {
    background-color: $color-red;
    .header-wrapper {
      background-color: $red-dark;

      .search .form-submit{
        border: 1px solid $color-red;
        @include box-shadow(0px 1px 2px $color-red);

        &:hover{
          background-color: $color-red;
        }
      }
    }
    .topbar-link-search a,
    .topbar-link-user a,
    .pane-user-menu a {
      &.active {
        background: $red-dark;
        border-bottom: 5px solid $red-dark;
        &:hover {
          border-bottom: 5px solid $red-dark;
        }
      }
    }

    @include small-medium {
      .topbar-menu,
      .navigation-wrapper {
        background-color: $red-light;
      }
    }
  }
  &.theme-purple .site-header {
    background-color: $color-purple;
    .header-wrapper {
      background-color: $purple-dark;

      .search .form-submit {
        @include box-shadow(0px 1px 2px $color-purple);
        border: 1px solid $color-purple;

        &:hover {
          background-color: $color-purple;
        }
      }
    }
    .topbar-link-search a,
    .topbar-link-user a {
      &.active {
        background: $purple-dark;
        border-bottom: 5px solid $purple-dark;
        &:hover {
          border-bottom: 5px solid $purple-dark;
        }
      }
    }

    @include small-medium {
      .topbar-menu,
      .navigation-wrapper {
        background-color: $purple-light;
      }
    }
  }
  &.theme-blue .site-header {
    background-color: $color-blue;
    .header-wrapper {
      background-color: $blue-dark;

      .search .form-submit {
        @include box-shadow(0px 1px 2px $color-blue);
        border: 1px solid $color-blue;

        &:hover {
          background-color: $color-blue;
        }
      }
    }
    .topbar-link-search a,
    .topbar-link-user a {
      &.active {
        background: $blue-dark;
        border-bottom: 5px solid $blue-dark;
        &:hover {
          border-bottom: 5px solid $blue-dark;
        }
      }
    }

    @include small-medium {
      .topbar-menu,
      .navigation-wrapper {
        background-color: $blue-light;
      }
    }
  }
  &.theme-yellow .site-header {
    background-color: $color-yellow;
    .header-wrapper {
      background-color: $yellow-dark;

      .search .form-submit {
        @include box-shadow(0px 1px 2px $color-yellow);
        border: 1px solid $color-yellow;

        &:hover{
          background-color: $color-yellow;
        }
      }
    }
    .topbar-link-search a,
    .topbar-link-user a {
      &.active {
        background: $yellow-dark;
        border-bottom: 5px solid $yellow-dark;
        &:hover {
          border-bottom: 5px solid $yellow-dark;
        }
      }
    }

    @include small-medium {
      .topbar-menu,
      .navigation-wrapper {
        background-color: $yellow-light;
      }
    }
  }
  &.theme-green .site-header {
    background-color: $color-green;
    .header-wrapper {
      background-color: $green-dark;

      .search .form-submit {
        border: 1px solid $color-green;
        @include box-shadow(0px 1px 2px $color-green);

        &:hover {
          background-color: $color-green;
        }
      }
    }
    .topbar-link-search a,
    .topbar-link-user a {
      &.active {
        background: $green-dark;
        border-bottom: 5px solid $green-dark;
        &:hover {
          border-bottom: 5px solid $green-dark;
        }
      }
    }

    @include small-medium {
      .topbar-menu,
      .navigation-wrapper {
        background-color: $green-light;
      }
    }
  }
  &.theme-pink .site-header {
    background-color: $color-pink;
    .header-wrapper {
      background-color: $pink-dark;

      .search .form-submit {
        border: 1px solid $color-pink;
        @include box-shadow(0px 1px 2px $color-pink);

        &:hover {
          background-color: $color-pink;
        }
      }
    }
    .topbar-link-search a,
    .topbar-link-user a {
      &.active {
        background: $pink-dark;
        border-bottom: 5px solid $pink-dark;
        &:hover {
          border-bottom: 5px solid $pink-dark;
        }
      }
    }
  }

  @include small-medium {
    .topbar-menu,
    .navigation-wrapper {
      background-color: $pink-light;
    }
  }
}


