// Inherit the most basic from styleguide.
.layout-wrapper {
  ul.list.news-list .news-list-item {
    @include content-box;
  }
}

// Reset each news item and apply some basic resets.
.news-list-item {
  .news-sub-heading {
    @extend .meta;
//    margin: 0;
    display: block;
    .news-date {
      @extend .meta-primary;
    }
    .news-author {
      @extend .meta-secondary;
      a {
        font-size: 12px;
        color: #b1b1ad;
      }
    }
    @include small-medium {
      margin-left: 0;
    }
  }
  .news-label,
  .views-field-field-ding-news-tags {

    &:hover {
      background-color: transparent;
    }
    // Want to extend .news-list-content, but the sass is already included by
    // DDBasic.
    margin-left: 170px;
    @include small-medium {
      margin-left: 0;
    }
    a {
      @extend .tag;
    }
  }
  .news-label {
    padding: 0;
    background: transparent;
    margin-left: 0;
    a {
      margin-bottom: 0;
    }
  }
  .news-link a {
    @include btn;
    // @extend .btn-right;
  }

  .news-heading {
    @include heading2;
    a {
      @include heading2;
    }
    margin-left: 170px;
    @include small-medium {
      margin-left: 0;
    }
  }
}



h1.page-title {
  @extend h1;
}
.library-ref {
  @extend .meta-location;
  span {
    background-color: transparent;
    a:link {
      color: $color-grey-light;
      text-shadow: none;
    }
  }

}
.news-tags{
  @extend .tags;
  a {
    @extend .tag;
  }
}






.news-category a{
   @include btn;
}

.sub-menu-wrapper {
  @extend .vertical-list;
  .sub-menu-title {
    @include heading2;
  }
  .sub-menu {
    @extend .vertical-list-nav;
    li{
      &:before {
        display: none;
      }
    }
  }
}

.pane-library-list,
.taxonomy-dropdown {
  padding: 0;
  background-color: transparent;
  label {
    display: none;
  }
  select {
    @extend .select;
  }
  input[type="submit"] {
     @include btn;
  }
}
.signature {
  span[class*="label"] {
    font-weight: bold;
  }
}
/** Service messages **/

.view-kkb-service-notice {
  padding: 30px 10px;
  color: #fff;
  .views-field-title a{
    @extend h3;
    color: #fff;
    margin-bottom: 20px;
    display: block;
  }
}

