
/**
 * Standard links
 */

a:link,
a:visited {
  color: $color-mint-green-dark;
  &:hover {
    color: darken($color-mint-green-dark, 5);
  }
}

/**
 * Pager reset.
 */
html body .pager {
  li a,
  li {
    background-color: transparent !important;
  }
}


.topbar-menu .menu-item.topbar-link-menu {
  display: block;
}
.navigation-wrapper {

  background-color: $color-black;
  .main-menu-wrapper,
  .secondary-menu-wrapper {
    display: none;
  }
}
.topbar-menu i[class^="icon-"]{
  margin-right: 0;
}


.field-type-ting-reference {
  .field-item {
    @include content-box;
    background-color: lighten($color-sand, 3) !important;
  }
}

.system-messages,
.messages {
  float: none;

  &:before {
    display: none;
  }

  .error {
    @extend .alert;

  }

  .status {
    @extend .alert;
    @extend .alert-info;
  }
}

fieldset input {
  min-width: 0%;
}

/**
 * Tabs.
 */

.pane-page-tabs #tabs {
  li {
    a {
      background-color: transparent;
    }
  }
}

/**
 * Field collection resets.
 */
.field-collection-container {
  border: none;
}

/**
 * Reseveration.
 **/

.availability.pending,
.availability.processed {
  color: $color-grey; /* Grey */
}

.availability.reservable {
  color: $yellow-dark; /* Yellow */
}

/* Available and reservable */
.availability.available,
.availability.available.reservable {
  color: $green-dark; /* Green */
}

/* Available, but not reservable */
.availability.available.not-reservable {
  color: $red-dark; /* Red */
}
