@charset "UTF-8";
.page-search-ting,
.page-search-node {
  .form-item-search-block-form{
    .field-prefix i {
      z-index: 10;
    }
  }
  .form-submit {
    background-color: transparent;
    color: transparent;
    background-image: none;
    @include box-shadow(none);
  }
  .form-select {
    @extend .select;
  }
  .pane-search-backends a:visited, .pane-ding-facetbrowser a:visited {
    color: #7cbf9e;
  }
}

#ting-search-backend-engines-form legend {
  // Toggling search backends is especially important so improve visibility
  // of the legend a bit.
  font-weight: bold;
}

.view-id-ding_node_search {
  .views-field-opening-hours-week {
    display: none;
  }
}
