.pane-ting-ting-collection-types {
  @extend .vertical-list;
  ul {
    @extend .vertical-list-nav;
  }
}

.view-mode-collection-list {
  @include content-box;
  .field-type-ting-type {
    display: none;
  }
  .field-name-ting-subjects {
    a {
      @include tag;
    }
  }
}

.pane-ting-collection .ting-collection-wrapper,
.pane-ting-object .ting-collection-wrapper {
   background-image:  none;
  padding: 0;
  margin: 0;

}
.pane-ting-collection .ting-collection-inner-wrapper,
.pane-ting-object .ting-collection-inner-wrapper {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.button-see-online,
.action-button {
  @include btn;
  &.bookmark-button{
    @include btn-secondary;
  }
  &.reserve-button{
    &.available {
      @include btn;
    }
    &.unavailable.not-reservable {
      display: inline-block;
      @include btn;
      @include btn-danger;
    }
  }
}

.page-ting-object {

  .pane-ting-ting-object-types,
  .pane-ting-ting-relation-anchors {
    @extend .vertical-list;
    ul {
      @extend .vertical-list-nav;
    }
  }

  .ting-object-wrapper {
    background: none;
    padding: 0;
    .field-type-ting-type {
      display: none;
    }
    .field-name-ting-subjects a {
      @include tag;
    }
    &:first-child .ting-object-inner-wrapper,
    &:last-child .ting-object-inner-wrapper {
      @include content-box;
    }
    .ting-object-inner-wrapper {
      background-color: transparent;
      padding:0;
    }

    // Fix dropdowns...

    .field-group-format-toggler {
      @include dropdown-title;
      padding: 2px unit(1) 4px unit(1);
      box-shadow:inset 1px 1px 4px darken($color-mint-green, 10);
      color: tint($color-mint-green, 85);

      i.fa, span.glyphicon{
        @include transform(rotate(180deg));
        top:6px;
      }
    }

    .collapsed {
      .field-group-format-toggler {
        @include btn;
        @include dropdown-title;
      }
    }
    .field-group-format-wrapper {
      @include content-box;
      margin-top: 20px;
    }
  }
}