.pane-ting-ting-collection-types {
  @extend .vertical-list;
  ul {
    @extend .vertical-list-nav;
  }
}

.view-mode-collection-list {
  @include content-box;
  .field-type-ting-type {
    display: none;
  }
  .field-name-ting-subjects {
    a {
      @include tag;
    }
  }
}

.pane-ting-collection .ting-collection-wrapper,
.pane-ting-object .ting-collection-wrapper {
   background-image:  none;
  padding: 0;
  margin: 0;

}
.pane-ting-collection .ting-collection-inner-wrapper,
.pane-ting-object .ting-collection-inner-wrapper {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.button-see-online:link,
.button-see-online:focus,
.button-see-online:visited {
  @include btn;
  &.bookmark-button{
    @include btn-secondary;
  }
  &.reserve-button{
    &.available {
      @include btn;
    }
    &.unavailable {
      display: inline-block;
      @include btn-danger;
    }
    &.not-reservable {
      // Do not display the button if the user cannot interact with it.
      display: none;
    }
  }
  &.delete-reservations {
    @include btn-danger;
  }
}

// Override styling of buttons within an .action-button div to reset styling.
body.html .action-button .form-submit,
body.html .action-button .form-submit:hover,
.action-button.form-submit {
  padding: 5px 16px;
  background-image: none;
  border: 0;
  @include border-radius(4px);
  @include box-shadow(0);
}
.action-buttons {
  .renew-loan-button,
  .update-reservations,
  .delete-reservations,
  .delete-bookmarks {
    padding: 0;
    border: 0;
    .form-submit {
      border-radius: 4px !important;
      padding: 9px 16px !important;
      line-height: 100%; //24px;
      margin: 0;
      border: 0;
      @include box-shadow(none);
    }
  }
}
#edit-cancel:link,
#edit-delete:link,
.action-button:link {
  border-radius: 4px !important;
  padding: 9px 16px !important;
  line-height: 100%; //24px;
  margin: 0;
  border: 0;
  @include border-radius(0);
  @include box-shadow(none);
}

// Set overflow to visible to show shadow on links in material lists.
.material-item {
  .item-information-list {
    overflow: visible;
    .item-information {
      overflow: visible;
    }
  }
}

// Generic form links.
.pane-profile2-form .form-submit,
#edit-cancel:link,
#edit-delete:link {
  margin-top: 15px;
  margin-left: 10px;
  vertical-align: middle;
  display: inline-block;
  color: white;
  background: $color-mint-green;
  @include box-shadow(0 1px 2px 0 $color-mint-green-shadow);
  &:hover {
    color: white;
    background: $color-mint-green-hover;
    opacity: 1;
  }
  &:active {
    @include box-shadow(inset 1px 1px 4px $color-mint-green-shadow);
  }
}
#edit-cancel:link {
  background: $color-disabled-grey-dark;
  @include box-shadow(0 1px 2px 0 darken($color-disabled-grey-dark, 20));
  &:hover {
    background: darken($color-disabled-grey-dark, 4);
  }
  &:active {
    @include box-shadow(inset 1px 1px 4px darken($color-disabled-grey-dark, 20));
  }
}

// No left margin on submit button on profile form.
.pane-profile2-form .form-submit {
  margin-left: 0;
}

// Styling on active-button links.
// This styling overrides styling from DDBasic.
.field-name-ding-entity-buttons .action-button,
.material-item .action-button {
  &.bookmark-button:link,
  &.reserve-button.available:link,
  &.reserve-button.unavailable:link,
  &.reserve-button.reservable:link,
  &.reserve-button.unavailable.reservable:link,
  &.delete-reservations {
    margin-top: 10px;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    color: white;
    background: $color-mint-green;
    @include box-shadow(0 1px 2px 0 $color-mint-green-shadow);
    &:hover {
      color: white;
      background: $color-mint-green-hover;
      opacity: 1;
    }
    &:active {
      @include box-shadow(inset 1px 1px 4px $color-mint-green-shadow);
    }
  }
  &.delete-reservations.unavailable:link,
  &.reserve-button.unavailable:link {
    margin-top: 10px;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    color: white;
    background: $color-red;
    @include box-shadow(0 1px 2px 0 darken($color-red-shadow, 4));
    &:hover {
      background-color: $color-red-dark;
      opacity: 1;
    }
    &:active {
      @include box-shadow(inset 1px 1px 4px $color-mint-green-shadow);
    }
  }
  &.not-reservable {
    // Do not display the button if the user cannot interact with it.
    display: none;
  }
}

// Styling for action buttons in different forms.
// This is basically the same as the styling for links, but with some div/input specific stylings.
// There is also styling for disabled buttons.
// The styling here overrides styling from DDBasic.
.pane-loans,
.pane-reservations,
.pane-bookmarks,
#ding-reservation-reservations-notready-form,
#ding-reservation-reservations-ready-form,
#ding-bookmark-remove-form {
  .action-buttons {
    div.renew-loan-button,
    div.update-reservations,
    div.delete-bookmarks {
      .form-submit {
        background: $color-mint-green;
        @include box-shadow(0 1px 2px 0 $color-mint-green-shadow);
        &:hover {
          background: $color-mint-green-hover;
        }
        &:active {
          @include box-shadow(inset 1px 1px 4px $color-mint-green-shadow);
        }
      }
    }
    div.delete-reservations {
      .form-submit {
        background: $color-red;
        @include box-shadow(0 1px 2px 0 darken($color-red-shadow, 4));
        &:hover {
          background-color: $color-red-dark;
          opacity: 1;
        }
        &:active {
          @include box-shadow(inset 1px 1px 4px $color-red-shadow);
        }
      }
    }

    // Styling for disabled buttons.
    div.renew-loan-button,
    div.delete-bookmarks,
    div.delete-reservations,
    div.update-reservations {
      .form-submit {
        &:disabled {
          background-color: $color-disabled-grey;
          opacity: 1;
          @include box-shadow(0 1px 2px 0 $color-disabled-shadow);
          &:hover {
            background: darken($color-disabled-grey, 4);
            opacity: 1;
          }
        }
      }
    }
  }
}

.page-ting-object {

  .pane-ting-ting-object-types,
  .pane-ting-ting-relation-anchors {
    @extend .vertical-list;
    ul {
      @extend .vertical-list-nav;
    }
  }

  .ting-object-wrapper {
    background: none;
    padding: 0;
    .field-type-ting-type {
      display: none;
    }
    .field-name-ting-subjects a {
      @include tag;
    }

    & .ting-object-inner-wrapper {
      padding: 0;
      background-color: transparent;
    }
    .content-box.ting-object-inner-wrapper {
      @include content-box;
    }

    // Fix dropdowns...

    .field-group-format-toggler a {
      @include btn;
      @include dropdown-title;

      box-shadow:inset 1px 1px 4px darken($color-mint-green, 10);
      color: tint($color-mint-green, 85);

      @extend p;


        &:before {
          display: none;
        }
        &:after {
          @include transition(all .5s ease .1s);
          @include rotate(180deg);
          @include opacity(.25);
          position: absolute;
          color: #000;
          top: 7px;
          right: 17px;
          display: inline-block;
          content: "\f078";
          font-family: FontAwesome;

        }

    }

    .collapsed {
      .field-group-format-toggler a {

        @include dropdown-title;
        &:after {
          @include rotate(0deg);
        }
      }
    }
    .field-group-format-wrapper {
      @include content-box;
      margin-top: 20px;
    }
  }
}
.field-name-ting-subjects {
  @extend .tags;
  .subject {
    @extend .tag;
  }
}
