.pane-ting-ting-collection-types {
  @extend .vertical-list;
  ul {
    @extend .vertical-list-nav;
  }
}

.view-mode-collection-list {
  @include content-box;
  .field-type-ting-type {
    display: none;
  }
  .field-name-ting-subjects {
    a {
      @include tag;
    }
  }
}

.pane-ting-collection .ting-collection-wrapper,
.pane-ting-object .ting-collection-wrapper {
   background-image:  none;
  padding: 0;
  margin: 0;

}
.pane-ting-collection .ting-collection-inner-wrapper,
.pane-ting-object .ting-collection-inner-wrapper {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.button-see-online,
.action-button {
  @include btn;
  &.bookmark-button{
    @include btn-secondary;
  }
  &.reserve-button{
    &.available {
      @include btn;
    }
    &.unavailable.not-reservable {
      display: inline-block;
      @include btn;
      @include btn-danger;
    }
  }
}

.page-ting-object {

  .pane-ting-ting-object-types,
  .pane-ting-ting-relation-anchors {
    @extend .vertical-list;
    ul {
      @extend .vertical-list-nav;
    }
  }

  .ting-object-wrapper {
    background: none;
    padding: 0;
    .field-type-ting-type {
      display: none;
    }
    .field-name-ting-subjects a {
      @include tag;
    }

    & .ting-object-inner-wrapper {
      padding: 0;
      background-color: transparent;
    }
    .content-box.ting-object-inner-wrapper {
      @include content-box;
    }

    // Fix dropdowns...

    .field-group-format-toggler a {
      @include btn;
      @include dropdown-title;

      box-shadow:inset 1px 1px 4px darken($color-mint-green, 10);
      color: tint($color-mint-green, 85);

      @extend p;


        &:before {
          display: none;
        }
        &:after {
          @include transition(all .5s ease .1s);
          @include rotate(180deg);
          @include opacity(.25);
          position: absolute;
          color: #000;
          top: 7px;
          right: 17px;
          display: inline-block;
          content: "\f078";
          font-family: FontAwesome;

        }

    }

    .collapsed {
      .field-group-format-toggler a {

        @include dropdown-title;
        &:after {
          @include rotate(0deg);
        }
      }
    }
    .field-group-format-wrapper {
      @include content-box;
      margin-top: 20px;
    }
  }
}
.field-name-ting-subjects {
  @extend .tags;
  .subject {
    @extend .tag;
  }
}
