

/**
 * Import the styleguide as basic refference.
 */

@import "compass/css3";
@import "../../../../libraries/zen-grids/stylesheets/zen";

@import "mixins";
@import "settings";
@import "colors"; // Import additional colors for this particular theme.

@import '../../../../libraries/kkb_styleguide/_/sass/main';

@import "resets";

@import 'layout'; // General layouting.
@import 'forms'; // Form handling.

@import 'navigation'; // Navigation, menus etc.
@import 'content'; // Generic styling of content.
@import 'libraries'; // Everything about libraries that arent other content types.
@import "news";  // All news and news nodes.
@import "events"; // Events and lists.
@import "groups"; // Themes.
@import "eresource"; // Contains most styling for ressource content type;
@import "searchresult";
@import "ting";
@import "faq"; // Contains most styling for FAQ content type;
@import "user"; // Everything related to the user profile.
